<mat-card class="ventk2-project">
    <h1> Indoor Ventk2 System</h1>
    <mat-card id="info-tab">
        <p>Welcome to Play game on Ventilation System</p>
        <p>This app is designed to help users to set their own prefer climate.</p>
        <h2><strong>Note:</strong> Read the information on each section and <strong>drag & drop</strong> your
            choice based
            on your understanding</h2>
        <button mat-button (click)="goNext()">Start</button>
    </mat-card>
</mat-card>