<header>
    <h1>Profile</h1>
</header>

<section class="container">

    <h2>Username</h2>
    <!-- <h3>{{name}}</h3> -->

    <div class="flex">
        <h2>Email</h2> <span>EDIT</span>
    </div>
    <!-- <h3>{{email}}</h3> -->

    <div class="flex">
        <h2>Password</h2> <span>EDIT</span>
    </div>

    <span class="user-button" (click)="logout()">LogOut</span>
    <span class="user-delete">Delete Account</span>


</section>


<!--<div class="container">-->

<!--<div mat-card-avatar class="example-header-image">-->
<!--<img [src]='photoUrl'>-->
<!--</div>-->
<!--<button class="user-button" (click)="logout()" mat-button>LogOut</button>-->


<!--<p>Provided Email Address: {{email}}</p>-->
<!--<h3>Saved Presets</h3>-->
<!--<ul>-->
<!--<li>Room:{{userData[0].room}}</li>-->
<!--<li>Zone:{{userData[0].zone}}</li>-->
<!--<li>AirFlow:{{userData[0].airflow}}</li>-->
<!--</ul>-->

<!--</div>-->