h1{
    text-align: center;
}
fa-icon{
    font-size: 10rem;
    margin: 10px;
    margin-left: 150px;
    color: #2D2D4F;
}
.airflow{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    background-color: #673ab7;
    color: white;
    width: 100px;
    margin-top: 20px
}
@media only screen and (max-width: 600px) {
    fa-icon {
     margin-left: 100px;
    }
  }
  @media only screen and (max-width: 600px) {
    .airflow, img{
     width: 100%;
    }

  }
  