/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
body{
    background-color: #2D2D4F;
    position: relative;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    transform: rotate(180deg);
    background-image: url('./app/_styles/graphical_element.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;

}
body::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-image: url('./app/_styles/graphical_element.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
}

button{
    align-items: center;
}
.fas{
    color: white;
    font-size: 2rem;
    padding-top: 5px;
}


.mat-toolbar{
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 1rem 0;
}
header h1{
    font-size: 2rem;
    font-weight: bold;
}

.card{
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
}
.card h2{
    font-size: 2rem;
    text-decoration: none;
}
.card .arrow{
    font-size: 2rem;
}
.mat-toolbar.mat-primary {
    background:  #3f51b5 !important;
    color: #fff;
}

.dialogClass mat-dialog-container{
    background-color: #3f51b5;
    color: white;
}

.dialogClass mat-dialog-container h2{
    font-size: 1.5rem;
}

.dialogClass mat-dialog-container p{
    font-size: 1rem;
}

.shepherd-modal-is-visible{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 80%;
}

.tour{
    color: white;
    padding: 20px 10%;
    width: 100%;
    text-align: center;
}
.tour button{
    border: solid white 1px;
    background-color: unset;
    font-weight: bold;
    color: white;
    padding: .6rem;
    font-size: 1rem;
    margin-top: 30px;
}
.shepherd-cancel-icon{
    position: absolute;
    top: -25px;
    right: 5px;
    border: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
