<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vent</title>
</head>
<body>
    <mat-grid-list cols=" " rowHeight="12:1">
        <mat-grid-tile> 
            <button mat-button class="mat-buttons">Control Panel <span class="material-icons">
                chevron_right
                </span></button></mat-grid-tile>
        <mat-grid-tile>
            <button mat-button class="mat-buttons" (click)= 'learningElement()'>Learning Elements 
                <span class="material-icons">
                    chevron_right
                    </span>
            </button>
        </mat-grid-tile>
      </mat-grid-list>
       
</body>
</html>